<div class="mdc-touch-target-wrapper">
    <button class="mdc-button mdc-button__icon mdc-button--raised mdc-button--touch button-primary">
        <span class="mdc-button__ripple"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true"><%= locals[:icon]%></i>
        <span class="mdc-button__label"><%= locals[:text]%></span>
        <span class="mdc-button__touch"></span>
    </button>
</div>