
<%= render 'components/navbar', :locals => {:home => "active"} %>

<section class="home-page">
    <main>
        <%= render "components/alert-close"%>
        <header> Now Showing </header>
        <hr>
        
        <section class="movies container">
            <%# Render Cinema name %>
            <% @cinemas.each do |cinema| %>
                <h2 class="cinema-name"><%= cinema.name%></h2>
                <div class="row cinema-movies">
                    <%# Render Cinema movies %>
                    <% @movies.each do |movie| %>
                        <% if movie.cinema_id == cinema.id %>
                            <%= render "components/home_movie-card", :locals => {:movie_title => movie.title, :movie_thumbnail => url_for(movie.thumbnail)} %>
                        <% end %>
                    <% end %>
                </div>
                <hr>
                <br>
            <% end %>
        </section>
    </main>
</section>
