.button-primary {
    background: $primary !important;
    color: $light !important;
}

.button-primary-light {
    background: $primary-light !important;
    color: $light !important;
}

.button-secondary {
    background: $secondary !important;
    color: $light !important;
}

.button-secondary-dark {
    background: $secondary-dark !important;
    color: $light !important;
}

.button-accent {
    background: $accent !important;
    color: $light !important;
}

.button-dark {
    background: $dark !important;
    color: $light !important;
}

.button-light {
    background: $light !important;
    color: $dark !important;
}
